

<form method="post">
    <label>Nome</label>
    <input name="Nome" />

    <br />
    <label>Sobre Nome</label>
    <input name="SobreNome" />

    <br />
    <label>Melhor E-mail</label>
    <input name="email" />

    <br />
    <label>Celular</label>
    <input name="Celular" />

    <br />
    <label>Data de nascimento</label>
    <input name="DataNascimento" />
    <button>Enviar</button>
</form>