@{
    Layout = null;
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon.ico">


<link href="~/css/index.css" rel="stylesheet" />
<header>

    <img src="~/img/logo.png" class="logo" />
</header>
<div class="container">
    <!--Video e Form-->
    <div>
        @Html.ValidationSummary(true)
    </div>
    <div class="caixa-video-form">

        <div class="div-video">

            <iframe src="https://www.youtube.com/embed/gNTHfM5oy4A?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>


        <div class="div-form">
            <div class="caixa-principal-form">
                <div class="textos">
                    <span class="titulo-form">garanta <span class="rosa">50% de desconto</span> no lançamento do curso</span>
                    <span class="subtitulo-form">Realizando o Pré Cadastro</span>
                </div>

                <form id="form" method="post" action="/home/cadastro">
                    <input class="form-control" placeholder="Digite o Nome" type="text" name="nome" id="nome" style="margin-top: 15px;" />

                    <input class="form-control" placeholder="Digite o Celular" type="text" name="Celular" id="Celular" />



                    <input class="form-control" placeholder="Digite o E-mail" type="text" name="email" id="email" />




                    <button class="btn btn-block btn-form">Garanta 50% OFF no Pré-Lançamento</button>

                </form>

            </div>
        </div>
    </div>
    <!--Investimento-->
    <div class="caixa-investimento">

        <h1>Investimento</h1>
        <div class="valor">
            <strong><s>R$ 590,00</s> R$ 295,00 <span>(Pré-Lançamento)</span></strong>
        </div>
        <span class="juros">4x Sem Juros</span>
        @*<a href="/">Garanta 50% OFF no Pré-Lançamento</a>*@
        @*<span class="obs">* Promoção Válida apenas para o Pré-Lançamento, após lançamento o valor voltará a ser R$ 590,00.</span>*@
        <div class="cartao">
            <img src="~/img/pagamento.png" />

        </div>

    </div>

    <!--Conteudo-->
    <div class="vantagens">
        <div class="vantagens-icons" style="margin-top: 10px;">
            <img src="~/img/apoio.png" class="icon" />
            <strong>Mentoria com a Professora</strong>
            <span>Tire as suas dúvidas com a professora Larissa Galli.</span>
        </div>

        <div class="vantagens-icons">
            <img src="~/img/trofeu.png" class="icon" />
            <strong>Curso Completo Online</strong>
            <span>Domine as melhores técnicas investindo nessa especialização.</span>
        </div>

        <div class="vantagens-icons">
            <img src="~/img/cretificado.png" class="icon" />
            <strong>Certificado Digital</strong>
            <span>No final do Curso você receberá um certificado de conclusão Digital.</span>
        </div>


        <div class="vantagens-icons">
            <img src="~/img/premio.png" class="icon" />
            <strong>Bônus</strong>
            <span>
                Você terá acesso ao grupo de Apoio no Telegram
                <i class="fab fa-telegram-plane"></i>
            </span>
        </div>

    </div>

    <!--Aprender-->
    <div class="conteudo-curso">

        <h1>Você vai aprender</h1>
        <ul>
            <li>
                <div>
                    <i class="fas fa-check check"></i>
                    Preparação Pré-Procedimento.
                </div>

            </li>

            <li>
                <i class="fas fa-check check"></i>
                Altura da Agulha.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Velocidade do Dermógrafo.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Execução do Movimento de Varredura.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Treino em pele sintética e no tomate (Verificar peso de mão e Traumas Excessivos).
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Design feito de forma Simples.
            </li>


            <li>
                <i class="fas fa-check check"></i>
                Contorno invisível
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Acabamento aveludado.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Lábios sem manchas e Traumas.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Noções de Colorimetria - (Escolha do tom Ideal).
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Quando Neutralizar? Quando Colocar Cor Direto? Quando Fazer os Dois?
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Manobras para dimunuir Inchaço.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Cuidados Pós e Anamnese Completa.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Demonstração de Técnicas de Neutralização e Revitalização em Modelos.
            </li>
        </ul>

    </div>

    <!--Dra Larissa-->
    <div class="caixa-dra-larissa">
        <img src="~/img/dra.JPG" />
        <div>


            <h1>LARISSA GALLI</h1>
            <p>
                Nesse curso você vai aprender tudo aquilo que me ensinaram em cursos
                e tudo que aprendi com a experiência. O <span class="rosa peso">Princess Lips</span>
                é uma junção de tudo que tem de eficaz e perfeito no mundo da micropigmentação labial.
                Desde o movimento, até segredos para facilitar o seu trabalho.
                Já adianto que <span class="rosa peso">ORGANIZAÇÃO E SISTEMA É TUDO!</span>
                Fazer lábios perfeitos nunca foi tão fácil! <br />
                <span class="rosa peso">Confia e vem!</span>

            </p>
        </div>

    </div>


</div>
<footer>
    Copyright © 2021 | Desenvolvido por  Produkt 
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">

    $("#Celular").mask("(99) 9999?9-9999");



    $(function () {



        $('#form').validate({
            rules: {
                nome: {
                    required: true,

                },
                Celular: {
                    required: true,

                },
                email: {
                    required: true,

                },


            },
            messages: {
                nome: 'O campo Nome é obrigatório!',
                Celular: 'O campo Celular é obrigatório!',
                email: 'O campo E-mail é obrigatório!'

            }
        });
    });




</script>

