@{
    Layout = null;
}
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '4310042385689313');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=4310042385689313&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon.ico">


<link href="~/css/index.css" rel="stylesheet" />
<header>

    <img src="~/img/logo.png" class="logo" />
</header>
<div class="container">

    @*<div class="contagem">
        <div>
            <span><i class="far fa-clock"></i></span>
            <span id="dia"></span>
            <span>dias</span>
            <span id="hora"></span>
            <span>horas</span>
            <span id="minuto"></span>
            <span>minutos</span>
            <span id="segundo" class="white"></span>
            <span>seg</span>

        </div>
        <div>
            <span> 30% OFF</span>

        </div>
    </div>*@
    <!--Video e Form-->
    <div>
        @Html.ValidationSummary(true)
    </div>
    <div class="caixa-video-form">

        <div class="div-video">

            <iframe src="https://www.youtube.com/embed/gNTHfM5oy4A?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>


        <div class="div-form">
            <div class="caixa-principal-form">
                <div class="textos">

                    <span class="titulo-form">Dia <span class="rosa">25 de Janeiro</span> Começa o treinamento, corra e garanta sua Vaga</span></span>
                </div>

                <form id="form" method="post" action="/home/cadastro">
                    <input class="form-control" placeholder="Digite o Nome" type="text" name="nome" id="nome" style="margin-top: 15px;" />

                    <input class="form-control" placeholder="Digite o Celular" type="text" name="Celular" id="Celular" />



                    <input class="form-control" placeholder="Digite o E-mail" type="text" name="email" id="email" />




                    <button class="btn btn-block btn-form">CADASTRAR</button>
                    <div class="cadastro">
                        <span>Já tenho cadastro</span>

                    </div>
                </form>

            </div>
        </div>

        <div class="div-form" id="form-cadastro">
            <div class="caixa-principal-form">
                <img src="~/img/logo100.png" />
                <br />
                <div class="textos">
                    <span class="titulo-form">Especialização</span>
                    <span class="subtitulo-form">Princess Lips</span>
                </div>

                <form id="form-cadastrado" method="post" action="/home/cadastrado">

                    <input class="form-control" placeholder="Digite o E-mail" type="text" name="email" id="email" />

                    <button class="btn btn-block btn-form">Entrar</button>
                    <div class="volta-cadastrar">
                        <a href="/">Cadastrar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <!--Investimento-->
    <div class="caixa-investimento">

        <h1>Investimento</h1>
        <div class="valor">
            <strong><s></s> R$ 590,00<span></span></strong>
        </div>
        <span class="juros">4x Sem Juros</span>
        @*<a href="/">Garanta 50% OFF no Pré-Lançamento</a>*@
        @*<span class="obs">* Promoção Válida apenas para o Pré-Lançamento, após lançamento o valor voltará a ser R$ 590,00.</span>*@
        <div class="cartao">
            <img src="~/img/pagamento.png" />

        </div>

    </div>

    <!--Conteudo-->
    <div class="vantagens">
        <div class="vantagens-icons" style="margin-top: 10px;">
            <img src="~/img/apoio.png" class="icon" />
            <strong>Mentoria com a Professora</strong>
            <span>Tire as suas dúvidas com a professora Larissa Galli.</span>
        </div>

        <div class="vantagens-icons">
            <img src="~/img/trofeu.png" class="icon" />
            <strong>Curso Completo Online</strong>
            <span>Domine as melhores técnicas investindo nessa especialização.</span>
        </div>

        <div class="vantagens-icons">
            <img src="~/img/cretificado.png" class="icon" />
            <strong>Certificado Digital</strong>
            <span>No final do Curso você receberá um certificado de conclusão Digital.</span>
        </div>


        <div class="vantagens-icons">
            <img src="~/img/premio.png" class="icon" />
            <strong>Bônus</strong>
            <span>
                Você terá acesso ao grupo de Apoio no Telegram
                <i class="fab fa-telegram-plane"></i>
            </span>
        </div>

    </div>

    <!--Aprender-->
    <div class="conteudo-curso">

        <h1>Você vai aprender</h1>
        <ul>
            <li>
                <div>
                    <i class="fas fa-check check"></i>
                    Preparação Pré-Procedimento.
                </div>

            </li>

            <li>
                <i class="fas fa-check check"></i>
                Altura da Agulha.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Velocidade do Dermógrafo.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Execução do Movimento de Varredura.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Treino em pele sintética e no tomate (Verificar peso de mão e Traumas Excessivos).
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Design feito de forma Simples.
            </li>


            <li>
                <i class="fas fa-check check"></i>
                Contorno invisível
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Acabamento aveludado.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Lábios sem manchas e Traumas.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Noções de Colorimetria - (Escolha do tom Ideal).
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Quando Neutralizar? Quando Colocar Cor Direto? Quando Fazer os Dois?
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Manobras para dimunuir Inchaço.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Cuidados Pós e Anamnese Completa.
            </li>

            <li>
                <i class="fas fa-check check"></i>
                Demonstração de Técnicas de Neutralização e Revitalização em Modelos.
            </li>
        </ul>

    </div>

    <!--Dra Larissa-->
    <div class="caixa-dra-larissa">
        <img src="~/img/dra.JPG" />
        <div>


            <h1>LARISSA GALLI</h1>
            <p>
                Nesse curso vou revelar minhas tecnicas que  aprendi ao longo da minha carreira e
                estrarei abrindo tudo que sei para você. O <span class="rosa peso">Princess Lips</span>
                é uma junção de tudo que tem de eficaz e perfeito no mundo da micropigmentação labial.
                Desde o movimento, até segredos para facilitar o seu trabalho.
                Já adianto que <span class="rosa peso">ORGANIZAÇÃO E SISTEMA É TUDO!</span>
                Fazer lábios perfeitos nunca foi tão fácil! <br />
                <span class="rosa peso">Confia e vem!</span>

            </p>
        </div>

    </div>


</div>
<footer>
    Copyright © 2021 | Desenvolvido por  Produkt
</footer>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">

    $("#Celular").mask("(99) 9999?9-9999");
    $('#form-cadastro').hide();


    $('.cadastro').click(function () {
        $('.div-form').hide();
        $('#form-cadastro').show();
    });



    $(function () {



        $('#form').validate({
            rules: {
                nome: {
                    required: true,

                },
                Celular: {
                    required: true,

                },
                email: {
                    required: true,

                },


            },
            messages: {
                nome: 'O campo Nome é obrigatório!',
                Celular: 'O campo Celular é obrigatório!',
                email: 'O campo E-mail é obrigatório!'

            }
        });


        $('#form-cadastrado').validate({
            rules: {


                email: {
                    required: true,

                },


            },
            messages: {
                email: 'O campo E-mail é obrigatório!'

            }
        });
    });


    //var target_date = new Date("january 18, 2021").getTime();
    //var dias, horas, minutos, segundos;
    //var regressiva = document.getElementById("regressiva");

    //setInterval(function () {

    //    var current_date = new Date().getTime();
    //    var segundos_f = (target_date - current_date) / 1000;

    //    dias = parseInt(segundos_f / 86400);
    //    segundos_f = segundos_f % 86400;

    //    horas = parseInt(segundos_f / 3600);
    //    segundos_f = segundos_f % 3600;

    //    minutos = parseInt(segundos_f / 60);
    //    segundos = parseInt(segundos_f % 60);

    //    document.getElementById('dia').innerHTML = dias;
    //    document.getElementById('hora').innerHTML = horas;
    //    document.getElementById('minuto').innerHTML = minutos;
    //    document.getElementById('segundo').innerHTML = segundos;


    //}, 1000);

</script>

