
<style>
    *{
        background: #797877;
    }

    .caixa {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -10px;

      
    }

        .caixa h1 {
            color: #d7b3b5;
            font-size: 50px;
            font-style: italic;
        }

        .caixa a {
            text-decoration: none;
            font-size: 20px;
            color: #fff;
        }

        .caixa a:hover {
            color: #d7b3b5;
        }
</style>
<div class="caixa">
    <h1>Sua Pré-inscrição foi realizada com Sucesso!</h1>
    <div>
        <a href="/">Voltar Página Principal <i class="fas fa-home"></i></a>

    </div>
</div>

